__pycache__/
.venv-macos/
*.py[cod]
*.pyo

*.o
*.a
*.so
*.pyd
*.dll
*.exe

ext/bin/
ext/include/
ext/lib/
ext/fltk-*/
ext/*.tar.gz
ext/*.zip

odpdom/cODP_wrap.cpp

*.tmp
*~

/p4v*.log
/p4vasp.log
/structure-window*.log
/*-screen.png
